body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgb(255, 221, 227);
  color: white;
}

h1,h2 {
  text-align: center;
  color: darkslategrey;
}


.principal, .completadas, .pendientes {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 400px;
}

.li-pendientes, .li-completadas {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}

.btn-borrar {
  margin-left: auto;
  border: none;
  background-color: #e31746;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  width: 10%;
  font-size: 1.2em;
}

.btn-borrar:hover {
  cursor: pointer;
  background-color: rgb(228, 76, 169);
}

.btn-completo {
  margin-left: auto;
  border: none;
  background-color: #35a03a;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10%;
  font-size: 1.2em;
}

.btn-completo:hover {
  cursor: pointer;
  background-color: rgb(125, 226, 221);
}

.btn-nuevo {
  padding: 5px 15px;
  border: none;
  color: white;
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none;
}

.btn-nuevo:hover {
  cursor: pointer;
  background-color: darkcyan;
}

.vacio, .vacioCom {
  color: darkslategrey;
}

@media (max-width: 768px) {

  .principal,
  .pendientes,
  .completadas {
    width: 90%;
    padding: 20px;
  }

  form {
    flex-direction: column;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-nuevo {
    width: 100%;
    padding: 12px;
  }

  li {
    flex-direction: row;
  }

  .btn-borrar,
  .btn-completo {
    width: 20%;
  }
}
